<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Sign in or Register")}</%block>

<%block name="js_extra">
    <script src="${static.url('js/vendor/underscore-min.js')}"></script>
    <script src="${static.url('js/vendor/underscore.string.min.js')}"></script>
    <script src="${static.url('js/vendor/backbone-min.js')}"></script>
    <script src="${static.url('js/vendor/url.min.js')}"></script>
    <script src="${static.url('js/vendor/history.js')}"></script>
    <%static:js group='student_account'/>
</%block>

<%block name="header_extras">
    % for template_name in ["account", "access", "form_field", "login", "register", "institution_login", "institution_register", "password_reset", "hinted_login"]:
        <script type="text/template" id="${template_name}-tpl">
            <%static:include path="student_account/${template_name}.underscore" />
        </script>
% endfor
</%block>
<%block name="bodyclass">logging</%block>
<div class="section-bkg-wrapper" style="background-color: transparent; padding-bottom:30px;"> 
    <div id="login-and-registration-container"
        class="login-register"
        data-initial-mode="${initial_mode}"
        data-third-party-auth='${third_party_auth|h}'
        data-third-party-auth-hint='${third_party_auth_hint}'
        data-next-url='${login_redirect_url|h}'
        data-platform-name='${platform_name}'
        data-login-form-desc='${login_form_desc|h}'
        data-registration-form-desc='${registration_form_desc|h}'
        data-password-reset-form-desc='${password_reset_form_desc|h}'
    />
</div>
<script type="text/javascript">
  $(document).ready(function() {
    //console.log('Original content is:', $('#login-and-registration-container').html().length);

      setTimeout(populateWrapper,1200);
      setTimeout(populateLogin,1300);
      setTimeout(populateRegister,1400);

      $(document.body).on('click', 'button[data-type="register"]', function(){
            //console.log('Button Register called');
            setTimeout(populateRegister,200);

        });
      $(document.body).on('click', 'button[data-type="login"]', function(){
            //console.log('Button Login called');
            setTimeout(populateLogin,200);
        });
      
    });
      function populateWrapper(){
            //console.log('document Ready on Login and Register');
           
            $('#login-and-registration-container').toggle(200);
           
            $('button.login-button').prepend('<img src="static/themes/edx-theme/images/login-icon.png" width="20" height="20">   ');
            //console.log('New content is:', $('#login-and-registration-container').html().length);
            
        };
    function populateLogin(){
        //console.log('document Ready on Login and Register');
       
       
        /*
        $('#login-and-registration-container #login-anchor').prepend('<div class="title text-center" style="box-shadow:none;" id="singInTitle">Sign in to your populo account</div>');
        */
        $('#login-password').attr('placeholder',' Password');
        $('#login-email').attr('placeholder',' Email');
        $('div.form-field.password-password > label').css('display','none');
        $('div.form-field.email-email > label').css('display','none');
        $('#login-remember').attr('checked',true);
        
    };
    function populateRegister(){
        //console.log('populateRegister called');
            var registerLength = $('#register-form').html().length;
            var loginLength = $('#login-form').html().length;
            /*
        $('#login-and-registration-container #register-anchor').prepend('<div class="title text-center" style="box-shadow:none;" id="singUpTitle">Sign up for a populo account</div>');
        */
        $('#register-password').attr('placeholder',' Password');
        $('#register-email').attr('placeholder',' Email');
        $('#register-name').attr('placeholder',' Name');
        $('#register-username').attr('placeholder',' Username');
        $('div.form-field.password-password > label').css('display','none');
        $('div.form-field.email-email > label').css('display','none');
        $('div.form-field.text-name > label').css('display','none');
        $('div.form-field.text-username > label').css('display','none');
        $('#login-remember').attr('checked',true);
        //console.log('New content is:', $('#login-and-registration-container').html().length);
       /*
        if(registerLength > 2){
            //console.log('Youre in Register');
            $('#singUpTitle').show();
            $('#singInTitle').hide();
        }else if(loginLength > 2){
            //console.log('Youre in Login');
            $('#singUpTitle').hide();
            $('#singInTitle').show();
        }else{
            //console.log('Youre in a modal');
            $('#singUpTitle').hide();
            $('#singInTitle').hide();
        }
        */
    };
</script>
<style>
    .toggle-form {
    width: 328px !important;
    padding-right: 82px !important;
    padding-left: 45px !important;
    }
    #loginScreen{
    z-index:100;
    }
    form .logo-wrapper.text-center {
    display: none;
    }
    .section-bkg-wrapper{
        background-color: transparent;
    }
    div.section-title.lines{
        /*display:none*/;
    }
    div#login-and-registration-container {
    width: 400px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    }
    div#login-form form#login, form#register, form#password-reset {
    border: none;
    }
    div#login-form, div#register-form{
        margin-top:0px;
        padding-top:0px;
    } 
    div.form-field input {
        font-family: FontAwesome !important;
    }
    div.form-field.checkbox-remember{
        display:none;
    }
    #login-email-desc{
    display:none;
    }
    #login-and-registration-container{
    display:none;
    }
    input#login-email, input#login-password, input#register-password, input#register-username, input#register-name, input#register-email, input#password-reset-email{
     height:50px; border:none; background-color:#f5f6f8; box-shadow:none; margin-bottom:10px; font-size:14px; font-family: 'FontAwesome'
    }
    button.nav-btn.form-toggle{
        line-height:17px;
        box-shadow:none !important;
        border-color:rgba(18, 111, 154, 0.25);
    }
    button.nav-btn.form-toggle:hover{
        border-color:transparent;
    }
    div.select-gender, div.select-year_of_birth, div.select-level_of_education, div.select-level_of_education, div.textarea-mailing_address, div.textarea-goals{
        display:none !important;
    }
</style>
% if settings.FEATURES.get('ENABLE_COMBINED_LOGIN_REGISTRATION'):
    ## This overwrites the "footer" block declared in main.html
    ## with an empty block, effectively hiding the footer
    ## from logistration pages.
    
% endif
